@import url("grid.css");

*{
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #161616;
}
/* эксперементы с position*/
.position-parent {
width: 200px;
height:300px;
background: pink;
position: relative;
margin: 50px;
}
.position-child {
height: 300px;
background: violet;
position: relative;
left:100px;
top:100px;
}
.position-child-absolute {
width: 50px;
height: 300px;
background: grey;
position: absolute;
left:100px;
top:100px;
}

.position-child-fixed {
width: 50px;
height: 300px;
background: green;
position: fixed;
right:100px;
top:100px;
}

.position-child-z-index {
width: 100px;
height: 300px;
background: purple;
position: absolute;
}

.z-index-1 {
  left: 50px;
  top: 50px;
  background: red;
  z-index: 3;
}
.z-index-2 {
  left: 100px;
  top: 100px;
  background: green;
  z-index: 2;
}

.z-index-3 {
  left: 150px;
  top: 150px;
  background: blue;
  z-index: 1;
}

.font {
  padding: 100px;
}
.font-size {
  font-size:20px;
}

.font-weight {
  font-weight: 700;
}

.font-variant {
font-variant:small-caps;
}

.text-shadow {
  text-shadow: 5px 5px 1px gray;
}

.upper-menu {
  width: 100%;
  background: #77c3d2;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left:0;
  padding-left: 10px;
  padding-right: 20px;
}

.menu-nav {
position: absolute;

}

/*.content {
  padding-top: 100px;
}*/

.aside-menu {
  position: absolute;
  background: #e4e58b;
   padding: 10px;
    margin-top: 20px;
   width: 200px;
   height: 670px;
   right: 50px;
   overflow: auto;
}

.content-blocks {
  padding-top: 10px;
}

.content-mini-blocks {
width: 70%;
height: 200px;
border: 2px solid grey;
border-color: #eb474a;
overflow: scroll;
margin-top: 10px;
padding-left: 10px;
padding-right: 10px;
text-align: left;
font-family: 'PT Sans', sans-serif;
}

.font-style {
    font-size: 36px;
    color: white;
    text-decoration: overline;
    font-family: 'Merriweather', serif;
}

.style-links {
color: white;
font-family: 'Merriweather', serif;
font-size: 20px;
padding: 10px;
border-bottom: none;
text-decoration: none;
transition: color .3s ease-out, border-color .3s ease-out;
}

.style-links:hover {
border-bottom: 2px solid;
border-color: #eb474a;
}

.style-links-aside {
color: #333;
border-bottom: none;
text-decoration: none;
transition: color .3s ease-out, border-color .3s ease-out;
}


.style-links-aside:hover {
border-bottom: 2px solid;
border-color: #eb474a;
}

.heading-h3{
color: #333;
font-family: 'Merriweather', serif;
}

.heading-h2{
color: #333;
font-family: 'Merriweather', serif;
}

.body-color {
  background-color: #f2fafb;
}

.footer {
      color: #f4faff;
      font-size: 14px;
      height: 80px;
      background-color: rgba(51,55,69,0.9);
      margin-top: 20px;
      padding: 10px;
}

.body-article-1 {
    background-size: cover;
}

.text-article-1 {
  overflow: scroll;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  font-family: 'PT Sans', sans-serif;

}

.heading-h3-article {
  color: #333;
  font-family: 'Merriweather', serif;
  padding: 10px;

}


.transform-parent {
  display: flex;
  margin: 50px;
}

.translate-parent {
  width: 300px;
  height: 200px;
  background-color: black;
  position: relative;
  margin: 30px;
}

.translate-child {
  width: 100%;
  height: 100%;
  background-color: grey;
  position: absolute;
  top:0;
  left:0;
}

.translate-child-1 {
transform: translate(50px, -80px);

}

.translate-child-2 {
transform: translate(50px, -80px);

}

.rotate-parent {
  width: 300px;
  height: 200px;
  background-color: grey;
  position: relative;
  margin: 100px;

}

.rotate-child {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top:0;
  left:0;
}

.rotate-child-1 {
  transform: rotate(100deg);
  }

.rotate-child-2 {
  transform: rotate(-30deg);
    }

    .scale-parent {
      width: 300px;
      height: 200px;
      background-color: black;
      position: relative;
      margin: 100px;
      top: 50px;

    }

    .scale-child {
      width: 100%;
      height: 100%;
      background-color: grey;
      position: absolute;
      top:0;
      left:0;
    }

    .scale-child-1 {
      transform: scale(2.5);
      }

    .scale-child-2 {
    transition: scale(-1, 0.5);
    font-size: 16px;
        }

        .scew-parent {
          width: 300px;
          height: 200px;
          background-color: black;
          position: relative;
          margin: 100px;
          top: 50px;

        }


        .scew-child {
          width: 100%;
          height: 100%;
          background-color: grey;
          position: absolute;
          top:0;
          left:0;
        }

        .scew-child-1 {
          transform: skew(-70deg);
          }

        .scew-child-1-child-2 {
        transition: skew(70deg);
            }





            .transform-origin-parent {
              width: 300px;
              height: 200px;
              background-color: grey;
              position: relative;
              margin: 100px;


            }

            .transform-origin-child {
              width: 100%;
              height: 100%;
              background-color: black;
              position: absolute;
              top:0;
              left:0;
              transform: rotate(50deg);
              transform-origin: right bottom;
            }

.animation-1 {
width: 300px;
height: 300px;
animation-name: animation-bg-color;
animation-duration: 5s;
animation-delay: 3s;
border: 2px dashed black;
background-color: green;
animation-iteration-count: infinite;
margin: 50px;
}


.animation-1:hover {
animation-play-state: paused;
}

@keyframes animation-bg-color {
  from {
    background-color: yellow;
    transform: translate(0,0);
    width: 300px;
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 1);
  }
  to {
  background-color: blue;
  transform: translate(200px,200px);
  width: 500px;
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 1);
  }
}

.animation-2 {
  width: 300px;
  height: 300px;
  background-color: grey;
  animation-name: animation-rotate;
  animation-duration: 5s;
  animation-delay: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 2;
  animation-direction: alternate-reverse;
  margin: 50px;
}

@keyframes animation-rotate {
  0%{
    transform: rotate(0);
  }
  50% {
transform: rotate(90deg)

  }
  100%{
    transform: rotate(360deg);
  }
}

.toggled {
  background:white;
}


.gallery {
  padding: 100px;
}

.gallery__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.gallery__item {
  height: 0;
  padding-top: calc(100% / 3 - 40px);
  flex-basis: calc(100% / 3 - 40px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.85);
  margin: 20px;
  position: relative;
}

.proverb1 {
  position: relative;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 30px;
  opacity: 0;
  transition: opacity 0.15s;
  color: white;

}

.proverb1:hover  {
    opacity: 1;
    transition: opacity 0.40s;
    background: #3085a3;
    opacity: .7;
    text-align: center;
}

.Facebook {
  width: 60px;
  height: 60px;
  float:left;
  margin: 10px;
}

.Facebook:hover {
      animation: spinAround 2s linear infinite;
  }

  @keyframes spinAround {
      from {
          transform: rotate(0deg)
      }
      to {
          transform: rotate(360deg);
  }
}
